{% extends 'base.html' %}
{% block content %}
<div id="vipbox">
	<h2>Foodie team:</h2>
	<div class="people">
		<img src="/images/alex.jpeg" width="100px"><br/>
		<h3>Alex Chumbley</h3> <br/>
		MIT Class of 2015 <br>
		Computer Science  <br/>
</div>
<div class="people">
		<img src="/images/lia.jpg" width="100px"><br/>
		<h3>Lia Bogoev</h3> <br/>
		MIT Class of 2014<br>
		Architecture  <br/>
</div>
<div class="people">
		<img src="/images/reinier.jpg" width="100px"><br/>
		<h3>Reinier Strobos</h3> <br/>
		MIT Class of 2015<br>
		Computer Science <br/>
</div>



</div>

{% endblock %}