<!DOCTYPE html>
<html>
<head>
	<meta content="text/html; charset=utf-8" http-equiv="Content-type" />
	<link rel="stylesheet" type="text/css" href="/static/styles.css" media="screen" />
	<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet' type='text/css'>
	<link rel="icon" href="favicon.ico" type="image/x-icon"> 
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon"> 
	<script type="text/javascript" src="/static/js/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="/static/js/script.js"></script>
	<title></title>


</head>

<body>
	<div id="container">


        <div id="account">
		 {% if request.user.is_authenticated %}
		    <strong>Hi, {{request.user.username }}</strong><br>
		{% endif %}
		{% if 'version' in request.session %}
			(v{{request.session.version.id}})
		{% endif %}
		{% if request.user.is_superuser %}
			<a href="{% url import %}">Import</a>
			<a href="{% url versions %}">Versions</a>
		{% endif %}
		{% if request.user.id and not request.user.guest %}
			<a href="{% url logout %}">Logout</a>
        {% else %}
            <a href="{% url login %}">Login</a>
		{% endif %}
        </div>

	<div id="content">
	{% block content %}{% endblock %}
		<div class="clear"></div>
	</div>


	</div>

	
</body>
</html>
