{% extends "base.html" %}
{% block content %}

<div id="maintext">
	<table style="width: 100%" id="introTable"><tr>
	<td style="width: 265px; text-align: right"><img src="/@@/Intro_stress.png">
	</td>
	<td style="padding-left: 20px; text-align: left">
	I have a lot of worries all the time<br><br>
	I get angry a lot<br><br>
	My stress is affecting my work and family<br><br>
	</td>
	</tr>
	</table>
</div>
<div id="continueButton">
<a href="/intro6"><img src="/@@/continue_red.png"></a>
</div>

	

<div class="clear"></div>


{% endblock %}
