{% extends "base.html" %}
{% block content %}

<div id="maintext">
	<table style="width: 100%" id="introTable"><tr>
	<td style="width: 265px; text-align: right"><img src="/@@/Intro_safety.png">
	</td>
	<td style="padding-left: 20px; text-align: left">
	I am afraid to leave my home<br><br>
	I worry about violence<br><br>
	I worry about my children's safety<br><br>
	</td>
	</tr>
	</table>
</div>
<div id="continueButton">
<a href="/intro7"><img src="/@@/continue_red.png"></a>
</div>

	

<div class="clear"></div>


{% endblock %}
