\{% extends "base.html" %}
{% block content %}

<!-- 

<div id="vipbox">
<h1>Log In</h1>

<iframe src="https://www.facebook.com/plugins/registration?
             client_id=113869198637480&
             redirect_uri=https%3A%2F%2Fdevelopers.facebook.com%2Ftools%2Fecho%2F&
             fields=name,birthday,gender,location,email"
        scrolling="auto"
        frameborder="no"
        style="border:none"
        allowTransparency="true"
        width="100%"
        height="330">
</iframe>

</div>
-->
<form action="/login" method="post">
	{% csrf_token %}
	<div>
		<label for="id_email">Email</label>
		<input id="id_email" name="email" value="{{user.email}}" />
		{% if 'invalid-login' in user.errors %}
			<span class="error">Login incorrect</span>
		{% endif %}
	</div>
	<div>
		<label for="id_password">Password</label>
		<input type="password" id="id_password" name="password" />
	</div>
	<div>
		<input class="button" type="submit" value="Log In" />
	</div>
</form>

{% endblock %}
