{% extends "base.html" %}
{% block content %}
<div id="vipbox">
<h1>A Special Thanks to our VIP Members!</h1>
	<ol>
		<li>Nicholas Davis</li>
		<li>Andres Hasfura</li>
		<li>Joel Santisteban</li>
		<li>Justin Pedley</li>
		<li>Shirley Irek</li>
		<li>Larry Niren</li>
		<li>Daniel Epelbaum</li>
		<li>William Rutter</li>
		<li>Kevin Mustelier</li>
		<li>Yanni Coroneos</li>
		<li>Valentina Chamorro</li>
		<li>Kiran Bhattaram</li>
		<li>Emily Lydic</li>
		<li>Meghan Torrance</li>
		<li>Milly Helmick</li>
		<li>Sami Lieb</li>
		<li>Nathalie Hyunh</li>
		<li>Madeleine Valero</li>
		<li>Sam Kennedy</li>
		<li>Beth Murphy</li>
		<li>Karly Mclaughlin X4</li>
		<li>Eben Bitonte X5</li>
		<li>Sebastian Fischer</li>
		<li>Arbana Grembi</li>
		<li>Virginia Nicholson</li>
		<li>Colin Hong</li>
		<li>Eduardo Carillo</li>
</div>
{% endblock %}

